---
permalink: /people
---

<!--
=========================================================
* Material Kit 2 PRO - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit-pro 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html%}

  <body class="terms">
    <!-- Navbar -->
    {% include navbar.html %}
    <section class="pt-3 pt-md-5 pb-md-5 pt-lg-8 bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-lg-0 mb-5 mt-8 mt-md-5 mt-lg-0">
            <ul
              class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg"
            >
              {% for groupCategory in site.data.l10n.groupCategories %}
              {% if groupCategory.members %}
              <li class="nav-item">
                <a
                  class="nav-link text-dark d-flex align-items-center"
                  data-scroll
                  href="#{{ groupCategory.label}}"
                >
                  <i class="material-icons text-dark opacity-5 pe-2"
                    >{{ groupCategory.icon }}</i
                  >
                  {{ groupCategory.category }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-9">
            {% for groupCategory in site.data.l10n.groupCategories %}
            {% if groupCategory.members %}
            <div class="card shadow-lg mb-5">
              <div
                class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent"
              >
                <div class="bg-gradient-info shadow-info border-radius-lg p-3">
                  <h3 class="text-white mb-0" id="{{ groupCategory.label }}">
                    {{ groupCategory.category}}
                  </h3>
                </div>
              </div>

              <div class="card-body p-5">
                <div class="row">
                  {% for member in groupCategory.members %}
                  <div class="col-lg-6 col-sm-6 mb-4">
                    <div class="card card-body ">
                      <div class="row ">
                        <div class="col-lg-5 text-end my-auto">
                          <img
                            class="avatar avatar-xxl border-radius-lg mt-n5"
                            src="../../assets/img/memoji/{{member.pic}}"
                          />
                        </div>
                        <div class="col-lg-7">
                          <h5 class="mb-2">{{member.name}}</h5>
                          {% if member.socialLinks %}
                          {% for socialLink in member.socialLinks %}
                          <a
                            href="{{ socialLink.link}}"
                            class="btn btn-{{ socialLink.icon }} btn-simple px-2 mb-0"
                          >
                            <i class="fab fa-{{socialLink.icon}} text-lg"></i>
                          </a>
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    <!--   Core JS Files   -->
    {% include jsfile.html %}
  </body>
</html>
