---
---

<!--
=========================================================
* Material Kit 2 PRO - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit-pro 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
  {% include head.html %}

  <body class="">
    <!-- Navbar -->
    {% include navbar.html %} {{ content }} {% include footer.html %}
    <!--   Core JS Files   -->
    {% include jsfile.html %}
  </body>
</html>
